@model IEnumerable<TNAI.Model.Entities.Post>

@{
    ViewBag.Title = Model.Any() ? $"{Model.First().Author}'s Posts" : "Empty blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Posts</h1>

@Html.Partial("_postsListPartial", Model)

