@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<link rel="stylesheet" href="~/Content/Layout.css">
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        We sent you link to retrieve password. Check your email.<br />
        It can take a while, please be patient.<br />
        Team TNAI ;)
    </p>
</div>
	
