@{
    ViewBag.Title = "Reset password confirmation";
}

<link rel="stylesheet" href="/Content/Layout.css">
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        You have reseted your password.<br />
        Click here to log to confirm and log in with new password.<br />
        @Html.ActionLink("here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
