@model IEnumerable<TNAI.Model.Entities.Comment>
<link rel="stylesheet" href="~/Content/Layout.css">
@foreach (var item in Model)
{
<div class="panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title">@Html.DisplayFor(modelItem => item.Author)</h1>
    </div>
    <div class="panel-body">
        @Html.DisplayFor(modelItem => item.Text)
    </div>
    @if (this.User.IsInRole("Admin") || this.User.Identity.Name == item.Author)
    {
        <div class="panel-footer"> 
            @Html.ActionLink("Edit", "Edit", "Comments", new { id = item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", "Comments", new { id = item.Id }, new { @class = "btn btn-danger" })
        </div>
    }
</div>
}
