@{
    ViewBag.Title = "Contact";
}

<link rel="stylesheet" href="~/Content/Layout.css">
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Three-Person Group Project<br />
    WFAiIS, Torun<br />
    <abbr title="contact">Contact:</abbr>None, for now...
</address>

<address>
    <strong>Support:</strong> Yes, we support you ;)<br />
</address>